@charset "UTF-8"; 

*{
	font-size: 60px;
}
	
header, nav, div, article, aside, footer {
	float: left;
}


body {
	margin:0px;
	padding:0px;
}

header {
	background-color: #CCC;
	padding: 8px 0px 8px 16px;
	font-size: 60px;
	font-weight: bold;
	width: 100%;
	position: fixed;
}

nav {
	background-color: black;
	margin-top: 170px;
	width: 100%;
}


article {
	width: 100%;
}

aside {
	display: none;
}

img {
	width: 100%;
}

footer nav{
	margin-top: 10px;
}
	
p{
	text-align: justify;
}
	
footer {
	width: 100%;
	text-align: center;
	background-color: black;
}

.menu li{
	border-right: solid 2px white;
	padding-left: 3%;
	float: left;
	width:100%;
}
	
.menu li a{
	color: white;	
}


@media screen and (min-width: 321px){

	header {
		padding: 8px 0px 8px 22px;
		font-size: 24px;
	}

	article {
		padding-left: 2%;
		width: 58%;
	}

	aside {
		padding-left: 5%;
		width: 35%;
	}

	img {
		width: 50%;
	}

	.menu li{
		display: inline;
		padding: 3px;
	}
}