@charset "UTF-8"; 

body{
	font-size: 16px;
}

header, nav, div, article, aside, footer {
	float: left;
}

header {
	background-color: #CCC;
	padding: 8px 0px 8px 22px;
	font-size: 2em;
	width: 100%;
	font-weight: bold;
}

h1{
	font-size: 1.5em;
}

nav { 
	background-color: black;
	width: 100%;
	font-size: 1em;
}

article {
	padding-left: 2%;
	width: 58%;
	font-size: 1em;
}

h2{
	font-size: 1.38em;
}

aside {
	padding-left: 5%;
	width: 35%;
}

img {
	width: 50%;
}

footer {
	width: 100%;
	text-align: center;
	background-color: black;
}

p{
	text-align: justify;
}


.menu li{
	display: inline;
	border-right: solid 2px white;
	padding: 3px;
	font-size: 1em;
}

.menu li a{
	color: white;	
	font-size: 1em;
}

@media only screen and (max-device-width: 320px){
	header {
		padding-left: 6%;
		padding-top: 0px;
		padding-bottom: 0px;
		position: fixed;
		font-size: 1.75em;
	}

	nav {
		margin-top: 30%;
		margin-left: 3%;
		font-size: 0.75em;
	}

	h1{
		font-size: 1.25em;
	}

	article {
		padding-left: 6%;
		width: 100%;
		font-size: 0.75em;
	}

	h2{
		font-size: 1em;
	}

	aside {
		display:none;
	}

	img {
		width: 100%;
	}

	footer nav{
		margin-top: 0px;
	}

	.menu li{
		display: block;
		padding-left: 18px;
	}	
}

@media only screen and (max-device-width: 240px){
	header {
		padding-left: 6%;
		padding-top: 0px;
		padding-bottom: 0px;
		position: fixed;
		font-size: 1.5em;
	}

	nav {
		margin-top: 0%;
		margin-left: 3%;
		font-size: 0.5em;
	}

	h1{
		font-size: 1em;
	}

	article {
		padding-left: 6%;
		width: 100%;
		font-size: 1em;
	}

	h2{
		font-size: 1em;
	}

	aside {
		display:none;
	}

	img {
		width: 100%;
	}

	footer nav{
		margin-top: 0px;
	}

	.menu li{
		display: block;
		padding-left: 18px;
	}	
}
