body {
}

header {
	float: top;
	background-color: #CCC;
	padding: 8px 0px 8px 22px;
	font-size: 24px;
}

nav {
	background-color: black;
}

menu ul{
	
}

.menu li{
	display: inline;
	border-right: solid 2px white;
	padding: 3px;
	

}
.menu li a{
	color: white;
	
}
