body {
}

header {
	float: top;
	background-color: #CCC;
	padding: 8px 0px 8px 22px;
	font-size: 24px;
}

nav {
	background-color: black;
}

.menu {
	margin: 0px;
	padding: 0px;
}

.menu li{
	
	margin: 0px;
	display: inline;
	border-right: solid 1px #CCC;
	padding: 8px;
	

}
.menu li a{
	color: white;
}
