
header {
	float: left;
	background-color: #CCC;
	padding: 8px 0px 8px 22px;
	font-size: 24px;
	width: 100%;
}

nav {
	float: left;
	background-color: black;
	width: 100%;
}

.menu {
	padding:0px;
	margin: 0px;
	
}

.menu li{
	display: inline;
	border-right: solid 2px white;
	padding: 3px;
	

}
.menu li a{
	color: white;
	
}

article {
	float: left;
	width: 60%;
}

aside {
	float: left;
	width: 40%;
}

img {
	width: 50%;
}

div {
	float: left;
	width: 100%;
}

footer {
	float: left;
	width: 100%;
	text-align: center;
	background-color: black;
}

@media print {
    header, nav, footer{
		display:none;
    }
	article, aside{
		width: 100%;
	}
}



@media screen and (max-width: 320px){
	
	body{
		margin:0px;
		padding: 0px;
	}

	header {
		float: left;
		background-color: #CCC;
		width: 100%;
		padding-left: 5%;
		font-weight: bold;
		font-size: 24px;
	}

	nav {
		width: 100%;
		float: left;
		background-color: black;
	}

	.menu {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.menu li{
		padding: 6px;
	}
	
	.menu li a{
		color: white;
	}

	.submenu li{
	
		display: inline;
		border-right: solid 1px #CCC;
		border-left: solid 1px #CCC;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.submenu li a{
		color: white;
	}

	p {
		text-align: justify;
	}

	article {
		padding-left: 3%;
		float: left;
		width: 100%;
	}

	aside {
		float: left;
		width: 100%;
	}

	img {
		width: 100%;
	}

	footer {
		position: relative; 
		margin-top: -50px; /* 470altura en px del footer con valor negativo */ 
		height: 50px; /* Altura del Footer en px*/ 
		clear: both; 
		text-align: center;
		padding-top:1px;
		background-color: black;
	}
}
 @media screen and (max-width:240px){
 
	body {
		margin:0px;
		padding:0px;
		overflow: hidden;/*esto esconde la barra lateral*/
	}
	
	header {
		float: left;
		background-color: #CCC;
		padding: 8px 0px 8px 22px;
		font-size: 24px;
		width: 100%;
	}

	nav {
		float: left;
		background-color: black;
		width: 100%;
	}

	.menu {
		margin: 0px;
	}

	.menu li{
		border-right: solid 2px white;
		padding: 3px;
		float: left;
		width:100%;
	}

	.menu li a{
		color: white;
	}

	article {
		float: left;
		width: 60%;
	}

	aside {
		float: left;
		width: 40%;
	}	

	img {
		float: left;
		width: 100%;
	}

	div {
		float: left;
		width: 100%;
	}

	footer {
		float: left;
		width: 100%;
		text-align: center;
		background-color: black;
	}
 }